dump.ipynb
.venv/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py
__pycache__/

# IDEs
.idea/
.vscode/
.DS_Store

# LARGE FILES
data/profiles.csv
